<div class="signup-modal-wrapper" id="signup-modal">
  <div class="modal">
    <div class="close-modal">
      <i class="fa fa-2x fa-times"></i>
    </div>
    <%= form_tag("/users/create") do %>
      <h1>Sign Up</h1>
      <input name="name" placeholder="Name">
      <br/><input name="email" placeholder="Email">
      <br/><input name="password" placeholder="Password">
      <p>*Password must be at least 8 characters long</p>
      <br/><input type="submit" value="SIGN UP" class="user-form-btn">
    <% end %>
  </div>
</div>
<div class="login-modal-wrapper" id="login-modal">
  <div class="modal">
    <div class="close-modal">
      <i class="fa fa-2x fa-times"></i>
    </div>
    <%= form_tag("/users/login") do %>
      <h1>Log In</h1>
      <br/><input name="email" placeholder="Email">
      <br/><input name="password" placeholder="Password">
      <br/><input type="submit" value="LOG IN" class="user-form-btn">
    <% end %>
  </div>
</div>
<div class="user-modal-wrapper" id="user-modal">
  <div class="user-modal">
    <div class="close-modal">
      <i class="fa fa-2x fa-times"></i>
    </div>
    <% if @current_user %>
    <img src="<%= "/user_image/#{@current_user.image_name}" %>" class="user-form-image">
    <div class="name-email">
      <ul>
        <li><%= @current_user.name %></li>
        <li><%= @current_user.email %></li>
      </ul>
      <div class="show-user-edit">
        <p class="post-show-btn">NEW POST</p>
        <p class="edit-show">EDIT</p>
        <%= link_to( "DELETE", ("/users/delete/#{@current_user.id}"), {method: "post", class: "user-delete"}) %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<div class="post-modal-wrapper" id="post-modal">
  <div class="post-modal">
    <div class="close-modal">
      <i class="fa fa-2x fa-times"></i>
    </div>
    <%= form_tag("/posts/create", {multipart: true}) do %>
      <h1>New Post</h1>
      <input name="photo" type="file" class="cursor">
      <input name="title" placeholder="Title">
      <br/><textarea name="content" rows="12" cols="56"></textarea>
      <br/><input type="submit" value="POST" class="user-form-btn">
    <% end %>
  </div>
</div>
<div class="edit-modal-wrapper" id="edit-modal">
  <div class="user-modal">
    <div class="close-modal">
      <i class="fa fa-2x fa-times"></i>
    </div>
    <% if @current_user %>
    <%= form_tag("/users/update/#{@current_user.id}", {multipart: true}) do %>
      <h1>Edit</h1>
      <h3>Select your photo</h3>
      <input name="photo" type="file" class="cursor">
      Name
      <input name="name" value="<%= @current_user.name %>">
      Email
      <br/><input name="email" value="<%= @current_user.email %>">
      Password
      <br/><input name="password" value="<%= @current_user.password %>">
      <br/><input type="submit" value="EDIT" class="user-form-btn">
    <% end %>
    <% end %>
  </div>
</div>
<div class="home-contents">
  <div class="home-image">
    <div class="home-title">
      <h1>Travel Hub</h1>
      <p>-Place for every traveller-</p>
    </div>
  </div>
</div>
<div class="contents-title">
  <ul>
    <li id="index-tab-title">New Posts</li>
    <li id="about-tab-title">About</li>
  </ul>
</div>
<div class="contents-middle">
  <div class="index-tab">
  <% if @posts %>
    <% @posts.each do |post| %>
      <div class="index-post-form">
        <div class="index-left">
          <img src="<%= "/post_photos/#{post.id}.jpg" %>">
        </div>
        <div class="index-right">
          <div class="index-right-top">
            <%= link_to( post.title, "/posts/#{post.id}", {class: "index-post-title"}) %>
          </div>
          <div class="index-right-bottom">
            <img src="<%= "/user_image/#{post.user.image_name}" %>">
            <span class="link-to-user"><%= post.user.name %>
            <p>
              <%= post.created_at.strftime("%Y-%m-%d   %H:%M")  %>
              <span class="like-feature">
            <% if session[:user_id] %>
              <%= Like.where(post_id: post.id).count %>
              <% if Like.find_by(user_id: @current_user.id, post_id: post.id) %>
                <%= link_to("/likes/delete/#{post.id}", {method: "post"}) do %>
                <span class="fa fa-heart like-btn-unlike"></span>
                <% end %>
              <% else %>
                <%= link_to("/likes/create/#{post.id}", {method: "post"}) do %>
                <span class="fa fa-heart like-btn"></span>
                <% end %>
              <% end %>
            <% else %>
              <%= Like.where(post_id: post.id).count %>
              <span class="fa fa-heart like-btn-unlike"></span>
            <% end  %>
            </span>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= paginate @posts %>
  </div>
</div>
<div class="about">
  <div class="about-tab">
    <div class="about-content">
    <p>
      Travel Hub is the place for every traveller!
      <br/>
      <br/>You can share your experience, favorite place, and your own story!
    </p>
    </div>
  </div>
</div>
