<div class="signup-modal-wrapper" id="signup-modal">
  <div class="modal">
    <div class="close-modal">
      <i class="fa fa-2x fa-times"></i>
    </div>
    <%= form_tag("/users/create") do %>
      <h1>Sign Up</h1>
      <input name="name" placeholder="Name">
      <br/><input name="email" placeholder="Email">
      <br/><input name="password" placeholder="Password">
      <p>*Password must be at least 8 characters long</p>
      <br/><input type="submit" value="SIGN UP" class="user-form-btn">
    <% end %>
  </div>
</div>
<div class="login-modal-wrapper" id="login-modal">
  <div class="modal">
    <div class="close-modal">
      <i class="fa fa-2x fa-times"></i>
    </div>
    <%= form_tag("/users/login") do %>
      <h1>Log In</h1>
      <br/><input name="email" placeholder="Email">
      <br/><input name="password" placeholder="Password">
      <br/><input type="submit" value="LOG IN" class="user-form-btn">
    <% end %>
  </div>
</div>
<div class="home-contents">
  <div class="home-image">
    <div class="home-title">
      <h1>Travel Hub</h1>
      <p>-Place for every traveller-</p>
    </div>
  </div>
</div>
<h1 id="index-tab-title">New Posts</h1>
<div class="contents-middle">
  <div class="index-tab">
  <% if @posts %>
    <% @posts.each do |post| %>
      <div class="index-post-form">
        <div class="index-left">
          <img src="<%= "/post_photos/#{post.id}.jpg" %>">
        </div>
        <div class="index-right">
          <div class="index-right-top">
            <%= link_to( post.title, "/posts/#{post.id}", {class: "index-post-title"}) %>
          </div>
          <div class="index-right-bottom">
            <img src="<%= "/user_image/#{post.user.image_name}" %>">
            <span><%= link_to( post.user.name, "/users/#{post.user.id}", {class:"link-to-user"}) %></span>
            <p>
              <%= post.created_at %>
              <span class="like-feture">
            <% if session[:user_id] %>
              <%= Like.where(post_id: post.id).count %>
              <% if Like.find_by(user_id: @current_user.id, post_id: post.id) %>
                <%= link_to("/likes/delete/#{post.id}", {method: "post"}) do %>
                <span class="fa fa-heart like-btn-unlike"></span>
                <% end %>
              <% else %>
                <%= link_to("/likes/create/#{post.id}", {method: "post"}) do %>
                <span class="fa fa-heart like-btn"></span>
                <% end %>
              <% end %>
            <% else %>
              <%= Like.where(post_id: post.id).count %>
              <span class="fa fa-heart like-btn-unlike"></span>
            <% end  %>
            </span>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= paginate @posts %>
  </div>
</div>
<h1 id="about-tab-title">What is Travel Hub</h1>
<div class="about">
  <div class="about-tab">
    Travel Hub is
  </div>
</div>
