<!DOCTYPE html>
<html>
  <head>
    <title>Travel Hub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-left">
        <%= link_to( "Travel Hub" , home_index_path, {class: "header-link", data: {turbolinks: false}}) %>
      </div>
      <span class="fa fa-bars menu-icon"></span>
      <% if @current_user %>
        <div class="header-right">
          <ul>
            <li><%= link_to( "Sign Out", "/users/logout", {class: "header-link", method: "post"} ) %></li>
            <li id="user-show">
              <%= @current_user.name %> : My Page
            </li>
          </ul>
        </div>
      <% else %>
        <div class="header-right">
          <ul>
            <li class="login-show">Log In</li>
            <li class="signup-show">Sign Up</li>
          </ul>
        </div>
      <% end %>
      <% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice] %>
        </div>
      <% end %>
    </header>
    <div class="header-slide">
      <% if @current_user %>
        <div class="header-right-slide">
          <ul>
            <li><%= link_to( "Sign Out", "/users/logout", {class: "header-link", method: "post"} ) %></li>
            <li id="user-show">
              <%= @current_user.name %> : My Page
            </li>
          </ul>
        </div>
      <% else %>
        <div class="header-right-slide">
          <ul>
            <li class="login-show">Log In</li>
            <li class="signup-show">Sign Up</li>
          </ul>
        </div>
      <% end %>
      <% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice] %>
        </div>
      <% end %>
    </div>
    <footer>
      <div class="footer-right">
        <p>created by Yusuke Sato</p>
      </div>
    </footer>
    <%= yield %>
  </body>
</html>
