<!DOCTYPE html>
<html>
  <head>
    <title>Travel Hub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <header>
      <div class="header-left">
        <%= link_to( "Travel Hub" , "/", {class: "header-link"} ) %>
      </div>
      <% if @current_user %>
        <div class="header-right">
          <ul>
            <li><%= link_to( "Sign Out", "/users/logout", {class: "header-link", method: "post"} ) %></li>
            <li>
              <%= link_to( "#{@current_user.name}: My Page", "/users/#{session[:user_id]}", {class: "header-link"} ) %>
            </li>
          </ul>
        </div>
      <% else %>
        <div class="header-right">
          <ul>
            <li><%= link_to( "Sign In", "/users/login", {class: "header-link"} ) %></li>
            <li><%= link_to( "Sign Up", "/users/new", {class: "header-link"} ) %></li>
          </ul>
        </div>
      <% end %>
      <% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice] %>
        </div>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
